<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Card Detector"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bglib"
        tools:targetApi="31">
        <activity
            android:name=".CardSavingActivity"
            android:exported="true"
            android:label="@string/title_activity_card_saving"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".DetectedCardsActivity"
            android:exported="false"
            android:label="@string/title_activity_detected_cards"
            android:theme="@style/Theme.Bglib" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirebaseActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TessTwoActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExampleActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeyDetectorActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetectedKeyActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetectedTextBlockActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.ScoreActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.LivesActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.TimerActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bglib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>